/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  RNAseq-VAX Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

// Global default params, used in configs
params {
  outdir = './results'
  igenomes_base = "./iGenomes"
  clusterOptions = false
}

profiles {
  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/uppmax.config'
    includeConfig 'conf/singularity.config'
  }
}
// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/rnaseq_AVC_timeline.html"
}
trace {
  enabled = true
  file = "${params.outdir}/rnaseq_AVC_trace.txt"
}

