    
/*
 * -------------------------------------------------
 * Nextflow config file for Annotate VAX
 * -------------------------------------------------
 * Images for every process
 * All images will be pulled automatically
 * -------------------------------------------------
 */


process {
  container = "RNAseq_VAX"

  withName:RunSnpeff {
    container = "RunSnpeff"
  }
  withName:RunVEP {
    container = "RunVEP"
  }
}